# Flutter-related
**/Flutter/ephemeral/
**/Pods/

# Xcode-related
**/dgph
**/xcuserdata/
# iOS/macOS
**/GoogleService-Info.plist
ios/Runner/DebugProfile.entitlements  # If custom entitlements exist
ios/Flutter/.last_build_id

# Android
android/app/google-services.json
android/app/keystore.properties
android/local.properties
android/key.properties